<!DOCTYPE html>
<html>
    <head>

    </head>
<body>
    <h1>You want to delete this element</h1>   
   <table>
          <td><%=arrVal[0].title%></td>
          <td><%=arrVal[0].author%></td>
          <td><%=arrVal[0].genre%></td>  
        </table>
        <form action="/delete" method="POST">
            <input type="submit" value="Yes">
            </form> 
            <form action="/getUser" method="GET">
                <input type="submit" value="No">
                </form> 
</body>
</html>
