<!DOCTYPE html>
<html>
  <head>
      <style>
          h1 {
 
  text-align: left;
}

        div.form
{
    display: block;
    text-align:left ;
  
}
form
{
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: left;
}

          </style>
  </head>
  <body>  
    <h1>Library</h1>
    <div class="form">
    <form name="Form1" action="/collect" method="POST">
      Title<br>
      <input type="text" name="title">
      <br>
      Author<br>
      <input type="text" name="author"><br>
      Genre<br>
      <input type="text" name="genre">
      <br>
    </div>  
      <input type="submit" onclick="myFunction()" value="submit">
      
  </form>
  

  <script>
      function myFunction() {
        alert("Added");
      }
      </script>

      
    <form action="/getUser" method="GET">
      <input type="submit" value="Get User">
    </form>
  
  
  </body>
</html>
